<div class="main-container">
  <div class="form-container">
    <div class="container">
      <form class="form" [formGroup]="resetForm" (ngSubmit)="resetPassword()">

        <p class="title">Reset Password</p>
        <p class="form-subtitle">Enter Your New Password</p>

        <!-- 1. New Password Field -->
        <div class="input-group">
          <label class="input-label">New Password</label>
          <input
            placeholder="Password Must Contain Characters"
            name="newPassword"
            class="input"
            type="password"
            formControlName="newPassword"
          />
          
          <!-- Naya Angular 17+ @if syntax (Isse error nahi aayegi) 👇 -->
          @if (resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.errors?.['pattern']) {
            <div style="color: #ff4d4d; font-size: 12px; margin-top: 5px;">
              Password Must Contain(1 Upper, 1 Lower, 1 Number, 1 Special Char, Min 8 chars).
            </div>
          }
          @if (resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.errors?.['required']) {
            <div style="color: #ff4d4d; font-size: 12px; margin-top: 5px;">
              Password Required.
            </div>
          }
        </div>

        <!-- 2. Confirm Password Field -->
        <div class="input-group">
          <label class="input-label">Confirm Password</label>
          <input
            placeholder="Confirm New Password"
            name="confirmPassword"
            class="input"
            type="password"
            formControlName="confirmPassword"
          />
          
          @if (resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors?.['required']) {
            <div style="color: #ff4d4d; font-size: 12px; margin-top: 5px;">
              Confirm Password Required.
            </div>
          }
        </div>

        <p class="form-link">
           <a routerLink="/login">Back To Login</a>
        </p>

        <!-- 3. Button tabhi chalega jab pura form Valid hoga 💡 -->
        <button class="btn" type="submit" [disabled]="resetForm.invalid" name="submit">Reset And Save</button>
    </form>
    </div>
  </div>
</div>
